/**
 * Aio theme for reveal.js.
 *
 * By Pascal Precht (https://twitter.com/PascalPrecht)
 */
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

.reveal h1, .reveal h2 {
  text-transform: none !important;
  letter-spacing: 2px !important; }

.reveal pre {
  box-shadow: none !important;
  width: initial !important;
  border-radius: 4px;
  margin-bottom: 0 !important; }
  .reveal pre code {
    padding: 0.5em 0.8em !important;
    border-radius: 4px;
    line-height: 1.6;
    font-size: 0.95em;
    max-height: initial !important; }
    .reveal pre code.smaller {
      font-size: 0.9em; }

.reveal small {
  vertical-align: middle !important; }

.reveal p.ribbon {
  background-color: #a8d5ea;
  margin-left: -1.85em;
  margin-bottom: 0;
  padding: 0.8em;
  position: relative;
  padding-left: 2em;
  padding-right: 1.5em;
  font-size: 0.7em;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2); }
  .reveal p.ribbon.success {
    background-color: #02b34d;
    color: #fff; }
    .reveal p.ribbon.success:before {
      border-bottom-color: #358839; }
    .reveal p.ribbon.success .material-icons {
      color: #fff;
      right: 0.4em;
      top: 0.3em;
      font-size: 1em; }
  .reveal p.ribbon:before {
    content: '';
    z-index: 2;
    width: 1px;
    height: 5px;
    position: absolute;
    border-bottom: 16px solid #5c93ad;
    left: 0.01em;
    top: -.71em;
    border-left: 10px solid transparent; }

.reveal p .material-icons {
  font-size: 1.2em;
  vertical-align: middle;
  position: absolute;
  right: 0.4em;
  top: 0.3em;
  color: #3b667b; }

.reveal .deck-slide h1 {
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  margin-top: 3.5em;
  margin-bottom: 0; }

.reveal .thank-you-slide h1 {
  text-transform: none;
  font-size: 2em;
  font-weight: 500;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 0;
  letter-spacing: 2px;
  color: #fff; }

.reveal .thank-you-slide .speaker span, .reveal .thank-you-slide .speaker a {
  color: #fff; }

.reveal .speaker {
  text-align: left;
  margin-top: 0.5em; }
  .reveal .speaker img {
    border-radius: 50%;
    max-width: 100px;
    display: inline-block; }
  .reveal .speaker .speaker-info {
    display: inline-block;
    vertical-align: top;
    font-size: 0.6em;
    margin-top: 1.5em;
    margin-left: 0.5em; }
  .reveal .speaker span, .reveal .speaker a {
    display: block; }
  .reveal .speaker a {
    color: #000;
    font-size: 0.7em; }

.reveal .polaroid {
  border: 25px solid #fff !important;
  border-left-width: 15px !important;
  border-right-width: 15px !important;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5) !important;
  filter: grayscale(75%);
  position: relative;
  transform: rotateZ(10deg);
  display: inline-block;
  background: #fff; }
  .reveal .polaroid.horizontal {
    width: 500px; }
  .reveal .polaroid.left {
    float: left;
    transform: rotateZ(-7deg); }
  .reveal .polaroid img {
    margin: 0 auto;
    padding: 0;
    display: block; }
  .reveal .polaroid figcaption {
    margin-top: 0.7em;
    font-family: 'Indie Flower', cursive;
    color: #1c36cc;
    transform: rotateZ(-2deg); }
    .reveal .polaroid figcaption span {
      margin-top: -0.5em;
      display: block; }

.reveal .annotation {
  color: #fff;
  text-shadow: 1px 2px 9px #000;
  font-weight: bold;
  font-size: 1.5em;
  position: absolute;
  right: 0;
  top: 4em; }
  .reveal .annotation:first-child {
    left: 0;
    right: initial; }

.reveal .written-annotation {
  width: 300px;
  position: absolute;
  content: '';
  top: -2em;
  right: -3em;
  transform: rotateZ(-12deg); }

.reveal section.section-slide h2 {
  color: #fff;
  opacity: 0;
  transition: opacity 1s ease;
  font-size: 2em;
  border: 0; }

.reveal section.section-slide.present h2 {
  opacity: 1;
  transition-delay: 1s; }

.reveal section .box {
  padding: 1em;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);
  box-sizing: border-box; }

.reveal section ul {
  font-size: 0.9em;
  vertical-align: top;
  margin-top: 0;
  width: 80%; }
  .reveal section ul.half {
    width: initial; }
  .reveal section ul span {
    color: #1976D2; }
  .reveal section ul strong {
    font-weight: 700; }

.reveal section li {
  margin-top: 0.8em;
  line-height: 1.2; }
  .reveal section li.has-tag {
    position: relative; }
    .reveal section li.has-tag span {
      position: absolute;
      font-size: 0.5em;
      font-weight: 700;
      right: 4em;
      top: 0em;
      color: #07ce07;
      -webkit-transform: rotate(14deg);
      transform: rotate(14deg);
      -webkit-transform-origin: 100%;
      transform-origin: 100%; }

.reveal section img {
  border: 0 !important;
  box-shadow: none !important;
  background: none !important; }

.reveal section p {
  margin-top: 1em;
  line-height: 1.3;
  font-size: 0.85em;
  padding-left: 1em;
  padding-right: 1em; }

.reveal section h2 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 0.3em; }

.reveal .slide-background.deck-slide, .reveal .slide-background.thank-you-slide {
  background-position: top -10px right 0px; }

.reveal .slide-background.deck-slide {
  background-size: 650px; }

.reveal .slide-background.thank-you-slide {
  background-size: 750px; }

.reveal .backgrounds:before {
  content: '';
  position: absolute;
  background-color: #1976D2;
  background: linear-gradient(145deg, #0D47A1, #42A5F5);
  color: #FFFFFF;
  width: 100%;
  min-height: 160px;
  height: 20vh;
  max-height: 160px;
  box-sizing: border-box;
  padding: 48px 48px 32px 48px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
  transition: ease all 500ms; }
  .start .reveal .backgrounds:before {
    min-height: 460px;
    height: 80vh;
    max-height: 460px; }
  .end .reveal .backgrounds:before,
  .section .reveal .backgrounds:before {
    min-height: 100%;
    max-height: 100%;
    height: 100vh; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FAFAFA;
  background-color: #FAFAFA; }

.reveal {
  font-family: "Roboto", sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87); }

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: rgba(0, 0, 0, 0.87);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid rgba(0, 0, 0, 0.87);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #2a76dd; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #6ca0e8; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #6ca0e8; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a76dd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
