<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Better i18n for your Angular apps</title>

    <meta name="description" content="Slide deck about the i18n effort for Angular">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/default.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <a style="font-family: Open Sans; text-decoration: none; font-size: 1.5em;position: absolute; top: 1em; left: 1em; z-index: 2;" href="http://ng-conf.org">
      <img style="opacity: 0.8;"height="50" src="img/ng-conf-logo.svg">
    </a>
    <a style="font-family: Source Sans Pro; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 1em; z-index: 2;" href="http://twitter.com/chirayuk">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@Chirayuk</span>
    </a>

    <a style="font-family: Source Sans Pro; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 6em; z-index: 2;" href="http://twitter.com/PascalPrecht">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@PascalPrecht</span>
    </a>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1 style="margin-top: 0.7em; text-transform: none; font-size: 2.7em;">Better i18n<br>for your Angular apps</h1>
          <p style="margin-top: 0.5em; font-size: 1em;">A first look at Angular's new i18n story</p>
          <div style="margin-top: 1.5em;">
            <img style="border: 4px solid #D84437; box-shadow: none; margin: 0; margin-right: 0.6em; border-radius: 50%; width: 100px;" src="img/chirayu.jpg">
            <img style="border: 4px solid #0f9d58; box-shadow: none; margin: 0; margin-left: 0.6em; border-radius: 50%; width: 100px;" src="img/pascal.jpg">
          </div>
          <p style="margin-top: 0.3em;">
            <small>By <a href="http://hakim.se">Chirayu Krishnappa</a> and <a href="http://twitter.com/hakimel">Pascal Precht</a></small>
          </p>
          <aside class="notes">
            <ul>
              <li>Hello my name is Chirayu and I'm # and this is Pascal and he is #</li>
              <li>We've done a ton of research on i18n and today we want o share our solution with you</li>
            </ul>
          </aside>
        </section>

        <section data-background="img/success.png">
          <h2 style="color: #fff; margin-left: 6em; width: 600px; font-size: 2em;">Imagine you've successfully launched  your web app.</h2>
          <aside class="notes">
            <ul>
              <li>Web app successfully launched</li>
              <li>Turned out to be very successful in own country</li>
              <li>You want make your app accessible to others as well</li>
              <li>Yet not sure what's required and involved when it comes to i18n</li>
              <li>IT'S AN AFTER THOUGHT!</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does internationalization (i18n) even mean?</h2>
          <ul style="width: 80%; margin-top: 0.8em;">
            <li class="fragment">Translating application messages... that's it right? <strong>No!</strong></li>
            <li class="fragment">Localizing for each country and region should be easy</li>
            <li class="fragment">This is <strong>more than just changing locale, currency, date</strong> etc.</li>
          </ul>
          <aside class="notes">
            <ul>
              <li>i18n !== translating text from one locale to another</li>
              <li>Writing app in a way that localizing it for each country and region is easy</li>
              <li>Integrated process with translators</li>
            </ul>
          </aside>
        </section>


        <section data-background="img/shocked-cat.gif">
          <h1 style="color: #fff; margin-left: -2em; width: 500px;">Holy...!</h1>
          <aside class="notes">
            <ul>
              <li>What if I'm not prepared for such a progress?</li>
              <li>Also what about legacy apps?</li>
              <li>Do I have to start all over again?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>A good solution lets you localize your apps in whatever shape they are.</h3>
          <aside class="notes">
            <ul>
              <li>It shouldn't matter how old your web app is</li>
              <li>We should be able to make incremential changes</li>
              <li>That's the vision for core i18n support in Angular</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process.svg">
          <aside class="notes">
            <ul>
              <li>Let's take a look at what the i18n process could look like</li>
              <li>Developer writes HTML templates</li>
              <li>Templates can be directive or router view tpls in Angular world</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-2.svg">
          <aside class="notes">
            <ul>
              <li>Messages get extracted in locale they are written in</li>
              <li>We provide tools for this, but you can integrate them into your toolchain as well</li>
              <li>Somehow bundled and transformed to file format that translator needs</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-3.svg">
          <aside class="notes">
            <ul>
              <li>Message bundles are given to translator</li>
              <li>Translator translate bundles to other locale</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-4.svg">
          <aside class="notes">
            <ul>
              <li>Translator returns translated bundles in new locale</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-5.svg">
          <aside class="notes">
            <ul>
              <li>Developer generates new templates from given bundles</li>
              <li>Again, we provide tools for this</li>
              <li>As we can see, this process is iterative</li>
              <li>We might add messages to the template over time etc.</li>
              <li>How often do we translate?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Static vs. Dynamic</h2>

          <aside class="notes">
            <ul>
              <li>Another big question that comes up: Static vs. Dynamic</li>
              <li>Do we want to deliver one app per locale or not</li>
              <li>What we show you today works for both</li>
              <li>Static is generally better because...</li>
            </ul>
          </aside>
        </section>
        <section>
          <h2>Declarative syntax rules</h2>
          <pre><code style="font-size: 1.8em; line-height: 55px;">&lt;input
  ng-model="user.name"
  placeholder="Firstname Lastname"&gt;</code></pre>
          <aside class="notes">
            <ul>
              <li>The placeholder text is automatically extracted for translation.  This is one example of the "implicit syntax."</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Declarative syntax rules</h2>
          <pre><code style="font-size: 1.3em; line-height: 55px;">{{recipients.length, plural,

  =0 {You have sent no gifts today.}
  =1 {You sent one gift to {{ recipients[0].name }}.}
  other {You sent {{recipients.length}} gifts today.}

}}</code></pre>
          <aside class="notes">
            <ul>
              <li>You can write plural and gender based messages (and nest them) in your templates (including attributes.)</li>
              <li><b>Advantage</b>: They will be extracted and converted into ICU MessageFormat messages that the translators understand.</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em;"><p>Limit is 255 characters.</p></code></pre>
          <aside class="notes">
            <ul>
              <li>Let's take a look at our app template</li>
              <li>Hint text for comment textbox</li>
              <li>What if we wanted to translate it?</li>
              <li>Extracting this message lacks context</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does the translator see?</h2>
          <img src="img/limit255-no-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;"></img>
          <p style="margin-top: 1.5em;">(This is an example. Translators have more UI around this)</p>
          <aside class="notes">
            <ul>
              <li>This is what the translator sees</li>
              <li></li>
            </ul>
          </aside>
        </section>

        <section data-background="img/wtf-picard.jpeg">
          <h1 style="font-size: 2.4em; color: #000; background: rgba(255, 255, 255, 0.5); margin-left: 6em; width: 600px;">Limit?<br>What "Limit"?!</h1>
          <aside class="notes">
            <ul>
              <li><b>What</b> limit?</li>
              <li>Informational message?  Instruction?  Where is it displayed?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What makes a high quality translation?</h2>
          <ul style="width: 85%; margin-top: 1em;">
            <li class="fragment">Translators <strong>really</strong> care about context</li>
            <li class="fragment">What do the words "<strong>on</strong>" and "<strong>off</strong>" mean without context?</li>
            <li class="fragment">Screenshots of application views are even better</li>
          </ul>
          <aside class="notes">
            <ul>
              <li>Context is king</li>
              <li>"On" and "Off" could be a toggling setting</li>
              <li>Screenshots enable translators to see places where messages are displayed</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em;"><p>Limit is 255 characters.</p></code></pre>
          <aside class="notes">
            <ul>
              <li>Coming back to our example, what is the information we want to provide the translator?</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 1.9em; line-height: 50px; word-break: break-word;">&lt;p i18n="Label to show the maximum length of characters allowed in comments."&gt;
  Limit is 255 characters.
&lt;/p&gt;</code></pre>
          <aside class="notes">
            <ul>
              <li>Our solution lets you add i18n attributes</li>
              <li>Translation now has a much higher quality</li>
              <li>However, not required to start off with context</li>
              <li>Can contain HTML as well</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does the now translator see?</h2>
          <img src="img/limit255-with-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none; width: 1000px; max-width: none;"></img>
        </section>

        <section data-background="img/picard-happy.jpg">
          <h1 style="font-size: 2.4em; color: #000; background: rgba(255, 255, 255, 0.5); margin-left: 8em; width: 400px;">"Limit"!</h1>
        </section>

        <section>
          <pre><code style="font-size: 1.8em; line-height: 55px;">&lt;input
  ng-model="name"
  placeholder="Firstname Lastname"&gt;</code></pre>
          <p style="margin-top: 2em;">We can provide default messages for common attributes.</p>
          <aside class="notes">
            <ul>
              <li>Another example are attributes</li>
              <li>HTML is already declarative</li>
              <li>We can provide default messages for common attributes</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Translators view</h2>
          <img src="img/input-no-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;">
          <aside class="notes">
            <ul>
              <li>(Extraction tool adds a default description which helps a little.)</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em; line-height: 60px; word-break: break-word">&lt;input
  ng-model="name"
  placeholder="Enter name"
  i18n-placeholder="Text input placeholder for the full name of a friend."&gt;</code></pre>
          <aside class="notes">
            <ul>
              <li>We can provide explicit description with i18n-* attribute</li>
              <li>Also works for web components/ custom attributes</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Translators view</h2>
          <img src="img/input-with-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;"></img>
        </section>

        <section>
          <h2>My app is translated.  Ship it!</h2>
          Later ...
          <h4>Bug report</h4>Your UI has text that's cut off.  The spacing is all weird and some messages are still in English.
        </section>

        <section>
          <h2>Solution: Pseudotranslation</h2>
          <p style="margin-top: 1em;">Pseudotranslation provides <strong>INSTANT</strong> translation into gibberish. Such gibberish will have features such as:</p>
          <ul style="margin-top: 0em; width: 85%;">
            <li class="fragment">Sentences size doubled by repeating words</li>
            <li class="fragment">Characters munged in some way such as being accented</li>
            <li class="fragment">Brackets on either end to easily see text that's cut off</li>
          </ul>
        </section>

        <section>
          <h2>Example</h2>
          <div class="fragment">
          <p style="text-align: left;margin-top: 1em;">Message:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 2em;">Enter your name</code></pre>
        </div>

          <div class="fragment">
          <p style="margin-top: 2em;text-align: left;">Pseudotranslated Message:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 2em;">[Enter Ën̈ẗër̈ your ÿöür̈ name n̈äm̈ë]</code></pre>
        </div>
          <aside class="notes">
            <ul>
              <li>Catch text that's cut off</li>
              <li>Catch issues with spacing</li>
              <li>Catch messages that came from Javascript or were others not extracted</li>
              <li>Make it part of your workflow (pseudotranslate on save.)</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Status</h2>
          <ul style="width: 80%; margin-top: 1em;">
            <li class="fragment">Angular1.4 is shipping with declarative support of plurals and gender. (MessageFormat)</li>
            <li class="fragment">Command line extraction tools are moving from prototype to production code (no timeline)</li>
            <li class="fragment">Angular2 support begins next month</li>
          </ul>
        </section>
        <section>
          <h1 style="text-transform: none; font-size: 2.7em;">Thanks.</h1>
        </section>

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <h3 class="fragment">It all began at ng-europe...</h3> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img class="fragment" style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-1.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-2.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-3.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-4.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-5.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-6.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-7.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img style="position: absolute; left: 7.5em; top: -4em; width: 400px; box-shadow: none; background: none; border: none;" src="img/speech-bubble-8.svg"> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section data-background="img/ng-europe-logo.png" class="sunglasses-slide" data-state="ngeurope"> -->
        <!--   <div> -->
        <!--     <img style="position: absolute; left: 0; box-shadow: none; border: none; height: 250px; width: 250px;" src="img/Igor_Minar.png"> -->
        <!--     <img style="position: absolute; right: 0em; top: -8em; box-shadow: none; border: none; width: 250px; border-radius: 50%;" src="img/pascal-ngeurope.jpg"> -->
        <!--     <img class="sunglasses" src="img/deal-with-it.png"> -->
        <!--     <span class="thug-life fragment">THUG LIFE</span> -->
        <!--   </div> -->
        <!-- </section> -->

        <!-- <section> -->
        <!--   <img style="border: none; box-shadow: none;" src="img/rip-angular-translate.png"> -->
        <!-- </section> -->

        <!-- <section data-background="img/just-kidding.jpg"> -->
        <!--   <h1 style="margin-left: 3em; margin-top: 2em; font-size: 3.5em; color: #fff; transform: rotate(-14deg);">Just kidding!</h1> -->
        <!-- </section> -->
        <section>
          <img style="width: 800px; border: none; box-shadow: none;" src="img/aaron.png">
        </section>

        <section>
          <p><strong>Internationalization (i18n)</strong> is the process of developing products in such a way that they can be localized for languages and cultures easily.</p>
          <p class="fragment" style="margin-top: 2em;"><strong>Localization (l10n)</strong> is the process of adapting applications and text to enable their usability in a particular cultural or linguistic market.</p>
        </section>

        <section>
          <h2 style="font-size: 1.4em;">I18n support in the Angular world (today)</h2>
          <ul style="max-width: 75%; margin-top: 0em;">
            <li class="fragment"><strong>ngLocale</strong> - Static Angular extension used by built-in components (<code>currency</code>, <code>date</code>, ...)</li>
            <li class="fragment"><strong>angular-gettext</strong> - gettext utilities for Angular</li>
            <li class="fragment"><strong>angular-translate</strong> - i18n support through translation IDs</li>
            <li class="fragment">...</li>
          </ul>
        </section>

        <section>
          <h2>Problems with current solutions</h2>
          <p>May or may not apply to all of them.</p>
          <ul style="width: 75%;">
            <li class="fragment">No way to annotate translations with meta information for translator</li>
            <li class="fragment">ID abstraction instead of language as default</li>
            <li class="fragment">Poor pluralization support</li>
            <li class="fragment">Works only on the client</li>
            <li class="fragment">Many more! (<a href="https://docs.google.com/document/d/1mwyOFsAD-bPoXTk3Hthq0CAcGXCUw-BtTJMR4nGTY-0/">Angular and i18n: A new world</a>)
          </ul>
        </section>

        <section>
          <p><strong>We want a first-class i18n story for Angular v1 and v2!</strong></p>
        </section>

        <section>
          <h2>Main Goals</h2>
          <ul>
            <li class="fragment"><strong>Tool support</strong> - Message extraction, Format Transformer, Application Generator, ...)</li>
            <li class="fragment"><strong>Server/Client-side Support</strong> - Static Mode, Dynamic Mode</li>
            <li class="fragment"><strong>Gender and Pluralization</strong> - Using ICU MessageFormat syntax</li>
            <li class="fragment"><strong>Performance</strong> - It's a feature</li>
            <li class="fragment">...</li>
          </ul>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#F4B400">
          <h1>Syntax</h1>
        </section>

        <section>
          <h2>Annotating text blocks</h2>
          <div class="fragment">
          <pre><code><span i18n="Label to show the current length
  of the comments and the maximum length
  allowed.">
  Limit is 255 characters for commits.
  Current {{item.comment.length || 0}}.
</span></code></pre>
<p style="margin-top: 1.5em;">We can use the <code>i18n</code> attribute to annotate whole blocks.</p>
</div>
        </section>

        <section>
          <h2>Annotating html blocks</h2>
          <pre><code>&lt;div i18n="Label to show the current length
  of the comments and the maximum length
  allowed."&gt;
  &lt;p&gt;Limit is 255 characters for comments.
  Current {{item.comment.length || 0}}.&lt;/p&gt;
&lt;/div&gt;</code></pre>
          <p style="margin-top: 1.5em;">Can contain HTML elements.</p>
        </section>

        <section>
          <h3>Do I always need to introduce an extra element?</h3>
        </section>

        <section>
          <h2>Annotating text blocks (comments)</h2>
          <pre><code><span>
  <!--i18n: Label to show the current length
  of the comments and the maximum length
  allowed.-->
  Limit is 255 characters for comments.
  Current {{item.comment.length || 0}}.
  <!--/i18n-->
</span></code></pre>
        </section>

        <section>
          <h2>Annotating text blocks (comments)</h2>
          <pre><code><span>
  <!--i18n-->
  Limit is 255 characters for comments.
  Current {{item.comment.length || 0}}.
  <!--/i18n-->
</span></code></pre>
          <p style="margin-top: 1.5em;">Descriptions are optional.</p>
        </section>

        <section>
          <h2>Implicit Syntax</h2>
          <pre><code>&lt;span&gt;
  Limit is 255 characters for comments.
  Current {{item.comment.length || 0}}.
&lt;/span&gt;</code></pre>
          <p style="margin-top: 1.5em;">Omitting <code>i18n</code> annotation entirely means <strong>implicit syntax</strong>.</p>
        </section>

        <section>
          <h3>We can even annotate element attributes!</h3>
        </section>

        <section>
          <h2>Annotating attributes</h2>
          <pre><code style="font-size: 1.4em;">&lt;input
  placeholder="First Name"
  i18n-placeholder="Placeholder for user input"
  &gt;
</code></pre>
<p style="margin-top: 1.5em;"><strong>Works for custom elements and Web Components</strong> as well.</p>
        </section>
        <section>
          <h2>Annotating attributes</h2>
          <pre><code style="font-size: 1.6em;">&lt;input placeholder="First Name"&gt;</code></pre>
<p style="margin-top: 1.5em;">We can provide default descriptions for common attributes, so no annotating would be required.</p>
        </section>

        <section>
          <h2>Achieved goals</h2>
          <p style="margin-top: 1.5em">With this syntax, the following requirements are fulfilled:</p>
          <ul>
            <li class="fragment">Developers can add new i18n solution to existing apps</li>
            <li class="fragment">No build step required due to <strong>dynamic mode</strong></li>
            <li class="fragment">New syntax needs to be valid HTML (for dynamic mode support)</li>
          </ul>
        </section>

        <section data-background="img/applause.gif">
          <h1 style="color: #fff; margin-top: 5em; margin-left: 2em;">*Audience claps*</h1>
        </section>
        <section class="sub-section-slide" data-background-transition="zoom" data-background="#4285F4">
          <h1 style="font-size: 2.3em;">Pluralization and Gender</h1>
        </section>

        <section>
          <h2>Pluralization and Gender?</h2>
          <div class="fragment" style="margin-top: 1.5em;">
          <p style="text-align: left;">Pluralization:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 1.4em;">You have 1 new message.
You have 2 new messages.</code></pre>
        </div>
        <div class="fragment" style="margin-top: 1.5em;">
          <p style="text-align: left;">Gender:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 1.4em;">She has sent you an email.
They have sent you an email.</code></pre>
        </div>
        </section>
        <section>
          <h2>Pluralization and Gender?</h2>
          <div style="margin-top: 2em;">
          <p style="text-align: left;">Both can be combined:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 1.4em;">He found 1 result in 2 categories.
She found 1 result in 2 categories.
He found 2 results in 1 category.
She found 2 results in 1 category.
They found 2 results in 2 categories.</code></pre>
        </div>
        </section>
        <section>
          <h2 style="font-size: 1.5em;">First-class MessageFormat integration</h2>
          <p style="margin-top: 1em;">Some reasons why we decided to do so:</p>
          <ul style="max-width: 78%;">
            <li class="fragment">Standard syntax, translators are familiar with it</li>
            <li class="fragment">Syntax is compact and easy to used in Angular templates</li>
            <li class="fragment">Can be used inside attributes</li>
            <li class="fragment">Supports nesting of plurals and gender selections</li>
          </ul>
        </section>

        <section>
          <h2>MessagFormat Syntax</h2>
          <div class="fragment">
          <pre ><code style="max-height: 500px; font-size: 1.4em;">{GENDER, select,
    male {He found one category.}
  female {She found one category.}
   other {They found one category.}
}
</code></pre>
          <p style="margin-top: 1.5em;">Gender selection</p>
        </div>
        </section>

        <section>
          <h2>MessagFormat Syntax</h2>
          <pre><code style="max-height: 500px; font-size: 1.4em;">You have {NUM_RESULTS, plural,
    one {1 message.}
  other {# messages.}
}</code></pre>
          <p style="margin-top: 1.5em;">Plural selection</p>
        </section>

        <section>
          <h2>MessagFormat Syntax</h2>
          <pre><code style="max-height: 500px; font-size: 1.4em;">{GENDER, select,
    male {He}
  female {She}
   other {They}
} found {NUM_RESULTS, plural,
            one {1 result}
          other {# results}
        } in {NUM_CATEGORIES, plural,
                  one {1 category}
                other {# categories}
             }.</code></pre>

        </section>

        <section>
          <h2>Angular specific concerns</h2>
          <ul style="margin-top: 1em;">
            <li class="fragment">MF's argument syntax is restricted to <a href="http://unicode.org/cldr/utility/list-unicodeset.jsp?a=%5B%3APattern_Syntax%3A%5D&abb=on&g=">Pattern_Syntax</a> (a.k.a. no expressions allowed)</li>
            <li class="fragment">Angular uses double curlies for interpolation, conflicts with MF's syntax</li>
            <li class="fragment">A curly inside Angular expression represents an object, while in MF it causes mode switch</li>
          </ul>
        </section>

        <section>
          <h2>MessageFormat in Angular</h2>
          <div class="fragment">
          <pre><code style="max-height: 500px; margin-top: 3.5em;">{{recipients.length, plural,
  =0 { You, {{user.name}}, have not sent any messages. }
  =1 { You, {{user.name}}, have sent a message. }
  other { You have sent {{recipients.length}} people messages. }
}}</code></pre>
          <p style="margin-top: 1.5em;">MessageFormat syntax can be used <strong>inside</strong> Angular expressions.</p>
          </div>
        </section>

        <section>
          <h2>MessageFormat in Angular</h2>
          <div>
          <pre><code style="max-height: 500px; margin-top: 3.5em!important;">{{recipient.gender, select,
  female { You, {{user.name}}, have sent her messages. }
  male { You, {{user.name}}, have sent him messages. }
  other { You, {{user.name}}, have sent them messages. }
}}</code></pre>
          <p style="margin-top: 1.5em;">MessageFormat syntax can be used <strong>inside</strong> Angular expressions.</p>
          </div>
        </section>

        <section>
          <h2>MessageFormat in Angular</h2>

          <pre><code style="max-height: 500px; font-size: 1em;">{{recipients.length, plural,
  =0 {You, {{user.name}}, have not sent any messages.}
  =1 {recipients[0].gender, select,
        female {You, {{user.name}}, sent her a message.}
        male {You, {{user.name}}, sent him a message.}
        other {You, {{user.name}}, sent them a message.}
     }
  other {You sent {{recipients.length}} people messages.}
}}</code></pre>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#0F9D58">
          <h1>Tools</h1>
        </section>

        <section>
          <h2 class="fragment">Tools and Libraries</h2>

          <ul>
            <li class="fragment"><strong>Offline Message Extractor</strong> - Message extraction and ID generation</li>
            <li class="fragment"><strong>File Format Transformer</strong> - Support for XMB, XLIFF 1.2 and gettext/po</li>
            <li class="fragment"><strong>Static App Generator</strong> - Generate application templates for different locales</li>
          </ul>
        </section>

        <section class="sub-section-slide" data-background-transition="zoom" data-background="#D84437">
          <h1>Status and Plans</h1>
        </section>

        <section>
          <h2 class="fragment">Current Status</h2>

          <ul style="margin-top: 1.5em;">
            <li class="fragment">Plural and Gender support for Angular interpolations (<strong>Shipped in 1.4</strong>)</li>
            <li class="fragment"><strong>Offline Message Extractor</strong> - Prototype completed, implementation in progress.</li>
          </ul>
        </section>

        <section>
          <h2>Next steps</h2>
          <ul style="margin-top: 1.5em;">
            <li class="fragment"><code>Online Message Extractor</code> - Perform pre-compile stage for dynamic mode</li>
            <li class="fragment">Migration story for existing libraries like <code>angular-translate</code></li>
            <li class="fragment">Proper Bidi support</li>
          </ul>
        </section>

        <section>
          <h2>We're always looking for help!</h2>

          <p style="margin-top: 1.5em;">Here's a list of places to get started:</p>

          <ul>
            <li><a href="http://github.com/angular/i18n">github.com/angular/i18n</a></li>
            <li><a href="https://docs.google.com/document/d/1mwyOFsAD-bPoXTk3Hthq0CAcGXCUw-BtTJMR4nGTY-0/view">Angular and i18n: The new world</a></li>
            <li><a href="https://docs.google.com/document/d/1-pLAhklbR7CMLkY4pYgwjoDCLyNlNGVnO_lDZiuN9KA/view">Document with tasks for 1.0</a></li>
          </ul>
        </section>
        <section>
          <h1 style="text-transform: none; font-size: 2.7em;">Thanks.</h1>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
