<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Better i18n for your Angular apps</title>

    <meta name="description" content="Slide deck about the i18n effort for Angular">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/white.css" id="theme">

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="lib/css/default.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <a style="font-family: Open Sans; text-decoration: none; font-size: 1.5em;position: absolute; top: 1em; left: 1em; z-index: 2;" href="http://ng-conf.org">
      <img style="opacity: 0.8;"height="50" src="img/ng-conf-logo.svg">
    </a>
    <a style="font-family: Source Sans Pro; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 1em; z-index: 2;" href="http://twitter.com/chirayuk">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@Chirayuk</span>
    </a>

    <a style="font-family: Source Sans Pro; text-decoration: none; font-size: 1.5em;position: absolute; bottom: 1em; left: 6em; z-index: 2;" href="http://twitter.com/PascalPrecht">
      <span style="color: #888; text-shadow: none; vertical-align: 80%; font-size: 0.8em; display: inline-block; margin-left: 0.3em;">@PascalPrecht</span>
    </a>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1 style="margin-top: 0.7em; text-transform: none; font-size: 2.7em;">Better i18n<br>for your Angular apps</h1>
          <p style="margin-top: 0.5em; font-size: 1em;">A first look at Angular's new i18n story</p>
          <div style="margin-top: 1.5em;">
            <img style="border: 4px solid #D84437; box-shadow: none; margin: 0; margin-right: 0.6em; border-radius: 50%; width: 100px;" src="img/chirayu.jpg">
            <img style="border: 4px solid #0f9d58; box-shadow: none; margin: 0; margin-left: 0.6em; border-radius: 50%; width: 100px;" src="img/pascal.jpg">
          </div>
          <p style="margin-top: 0.3em;">
            <small>By <a href="http://hakim.se">Chirayu Krishnappa</a> and <a href="http://twitter.com/hakimel">Pascal Precht</a></small>
          </p>
          <aside class="notes">
            <ul>
              <li>Hello my name is Chirayu and I'm # and this is Pascal and he is #</li>
              <li>We've done a ton of research on i18n and today we want o share our solution with you</li>
            </ul>
          </aside>
        </section>

        <section data-background="img/success.png">
          <h2 style="color: #fff; margin-left: 5.5em; width: 600px; font-size: 2em;">Imagine you've successfully launched  your web app.</h2>
          <aside class="notes">
            <ul>
              <li>Web app successfully launched</li>
              <li>Turned out to be very successful in own country</li>
              <li>You want make your app accessible to others as well</li>
              <li>Yet not sure what's required and involved when it comes to i18n</li>
              <li>IT'S AN AFTER THOUGHT!</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does internationalization (i18n) even mean?</h2>
          <ul style="width: 80%; margin-top: 0.8em;">
            <li class="fragment">Translating application messages... that's it right? <strong>No!</strong></li>
            <li class="fragment">Localizing for each country and region should be easy</li>
            <li class="fragment">This is <strong>more than just changing locale, currency, date</strong> etc.</li>
          </ul>
          <aside class="notes">
            <ul>
              <li>i18n !== translating text from one locale to another</li>
              <li>Writing app in a way that localizing it for each country and region is easy</li>
              <li>Integrated process with translators</li>
            </ul>
          </aside>
        </section>


        <section data-background="img/shocked-cat.gif">
          <h1 style="color: #fff; margin-left: -2em; width: 500px;">...</h1>
          <aside class="notes">
            <ul>
              <li>What if I'm not prepared for such a progress?</li>
              <li>Also what about legacy apps?</li>
              <li>Do I have to start all over again?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h3>A good solution lets you localize your apps in whatever shape they are.</h3>
          <aside class="notes">
            <ul>
              <li>It shouldn't matter how old your web app is</li>
              <li>We should be able to make incremential changes</li>
              <li>That's the vision for core i18n support in Angular</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process.svg">
          <aside class="notes">
            <ul>
              <li>Let's take a look at what the i18n process could look like</li>
              <li>Developer writes HTML templates (NO ID's!)</li>
              <li>Templates can be directive or router view tpls in Angular world</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-2.svg">
          <aside class="notes">
            <ul>
              <li>Messages get extracted in locale they are written in</li>
              <li>We provide tools for this, but you can integrate them into your toolchain as well</li>
              <li>Somehow bundled and transformed to file format that translator needs</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-3.svg">
          <aside class="notes">
            <ul>
              <li>Message bundles are given to translator</li>
              <li>Translator translate bundles to other locale</li>
            </ul>
          </aside>
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-4.svg">
          <aside class="notes">
            <ul>
              <li>Translator returns translated bundles in new locale</li>
            </ul>
          </aside>
        </section>

        <!-- <section> -->
        <!--   <h2>Server vs. Client</h2> -->

        <!--   <aside class="notes"> -->
        <!--     <ul> -->
        <!--       <li>Now the big question that comes up: Server vs. Client</li> -->
        <!--       <li>Do we want to deliver one app per locale or not</li> -->
        <!--       <li>What we show you today works for both</li> -->
        <!--       <li>Static is generally better because...</li> -->
        <!--     </ul> -->
        <!--   </aside> -->
        <!-- </section> -->


        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-5.svg">
          <aside class="notes">
            <ul>
              <li>Developer generates new templates from given bundles</li>
              <li>Again, we provide tools for this</li>
              <li>As we can see, this process is iterative</li>
              <li>We might add messages to the template over time etc.</li>
              <li>How often do we translate?</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em;"><p>Limit is 255 characters.</p></code></pre>
          <aside class="notes">
            <ul>
              <li>Let's take a look at our app template</li>
              <li>Hint text for comment textbox</li>
              <li>What if we wanted to translate it?</li>
              <li>Extracting this message lacks context</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does the translator see?</h2>
          <img src="img/limit255-no-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;"></img>
          <p style="margin-top: 1.5em;">(This is an example. Translators have more UI around this)</p>
          <aside class="notes">
            <ul>
              <li>This is what the translator sees</li>
              <li>Message id is generated automatically and used internally to identify messages (across software)</li>
            </ul>
          </aside>
        </section>

        <section data-background="img/wtf-picard.jpeg">
          <h1 style="font-size: 2.2em; color: #000; background: rgba(255, 255, 255, 0.5); margin-left: 5em; width: 600px;">Limit?<br>What "Limit"?!</h1>
          <aside class="notes">
            <ul>
              <li><b>What</b> limit?</li>
              <li>Informational message?  Instruction?  Where is it displayed?</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What makes a high quality translation?</h2>
          <ul style="width: 85%; margin-top: 1em;">
            <li class="fragment">Translators <strong>really</strong> care about context</li>
            <li class="fragment">What do the words "<strong>on</strong>" and "<strong>off</strong>" mean without context?</li>
            <li class="fragment">Screenshots of application views are even better</li>
            <li class="fragment">(And EVEN better) Live Previews</li>
          </ul>
          <aside class="notes">
            <ul>
              <li>Context is king</li>
              <li>"On" and "Off" could be a toggling setting</li>
              <li>Screenshots enable translators to see places where messages are displayed</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em;"><p>Limit is 255 characters.</p></code></pre>
          <aside class="notes">
            <ul>
              <li>Coming back to our example, what is the information we want to provide the translator?</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 1.9em; line-height: 50px; word-break: break-word;">&lt;p i18n="Label to show the maximum length of characters allowed in comments."&gt;
  Limit is 255 characters.
&lt;/p&gt;</code></pre>
          <aside class="notes">
            <ul>
              <li>Our solution lets you add i18n attributes</li>
              <li>Translation now has a much higher quality</li>
              <li>However, not required to start off with context</li>
              <li>Can contain HTML as well</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does the translator now see?</h2>
          <img src="img/limit255-with-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none; width: 960px; max-width: none;"></img>
        </section>

        <section data-background="img/picard-happy.jpg">
          <h1 style="font-size: 2.4em; color: #000; background: rgba(255, 255, 255, 0.5); margin-left: 6.5em; width: 400px;">"Limit"!</h1>
        </section>

        <section>
          <pre><code style="font-size: 1.8em; line-height: 55px;">&lt;input
  ng-model="name"
  placeholder="Firstname Lastname"&gt;</code></pre>
          <p style="margin-top: 2em;">We can provide default messages for common attributes.</p>
          <aside class="notes">
            <ul>
              <li>Another example are attributes</li>
              <li>HTML is already declarative</li>
              <li>We can provide default messages for common attributes</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Translator's view</h2>
          <img src="img/input-no-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;">
          <aside class="notes">
            <ul>
              <li>(Extraction tool adds a default description which helps a little.)</li>
            </ul>
          </aside>
        </section>

        <section>
          <pre><code style="font-size: 2em; line-height: 60px; word-break: break-word">&lt;input
  ng-model="name"
  placeholder="Enter name"
  i18n-placeholder="Text input placeholder for the full name of a friend."&gt;</code></pre>
          <figure class="fragment" style="position: absolute; right: 0em; top: -3em; transform: rotateZ(-24deg);">
            <img style="border: none; box-shadow: none; width: 300px; transform: rotateZ(-13deg);" src="img/wc-logo.svg">
            <figcaption>
              <span style="display: block; width: 300px; font-weight: bold; color: #fff; text-shadow: 0px 2px 10px #000;">WebComponents ready!</span>
            </figcaption>
          </figure>
          <aside class="notes">
            <ul>
              <li>We can provide explicit description with i18n-* attribute</li>
              <li>Also works for web components/ custom attributes</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Translator's view</h2>
          <img src="img/input-with-context.png" style="background: none; margin: 0; margin-top: 1.5em; border: none; box-shadow: none;"></img>
          <aside class="notes">
            <ul>
              <li>Translator now sees the more concrete description and can reason about the message much better</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Placeholders</h2>
          <pre><code style="font-size: 2em;"><p>Limit is {{N}} characters.</p></code></pre>
          <p style="margin-top: 1.5em;">What happens when there's an interpolation?</p>

          <aside class="notes">
          </aside>
        </section>

        <section>
          <h2>Translator's View</h2><br>
          <img src="img/limitN-no-context.png" style="background: none; margin: 0; margin-top: 0em; border: none; box-shadow: none; width: 700px;">
          <aside class="notes">
            <ul>
              <li>Placeholders are opaque.</li>
              <li>Translators can reorder placeholders but cannot rewrite their contents.</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Translator's View</h2><br>
          <img src="img/limitN-with-context.png" style="background: none; margin: 0; margin-top: 0em; border: none; box-shadow: none; width: 70%; height: auto"></img>
          <aside class="notes">
            <ul>
              <li>We can rename placeholder and provide examples to give even more context!</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Plurals and Gender</h2>
          <ul style="margin-top: 1em; width: 80%;">
            <li class="fragment">We have <code>ngPluralize</code> and <code>ngSwitch</code>, but they're not declarative enough</li>
            <li class="fragment">Plural rules vary dramatically across languages.</li>
            <li class="fragment">Your translator needs to add or remove categories as they apply to the target locale.</li>
            <li class="fragment">They should see all the categories together.</li>
          </ul>
          <aside class="notes">
            <ul>
              <li>We haven't talk about Plurals and Gender yet</li>
              <li>Plural rules vary: In Russian, it matters whether the least significant digit of the number is 1 (except for 11), [2, 3, 4] (except for 12, 13, 14), or [5, 6, 7, 8, 9, 0].<li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>How can we pluralize declaratively?</h2>
          <pre><code style="font-size: 1.7em; line-height: 55px; margin-top: 2em;">{{numMessages, plural,
      =0 { You have no new messages }
      =1 { You have one new message }
   other { You have # new messages }
}}</code></pre>
          <aside class="notes">
            <ul>
              <li>You can write plural and gender based messages (and nest them) in your templates (including attributes.)</li>
              <li><b>Advantage</b>: They will be extracted and converted into ICU MessageFormat messages that the translators understand.</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>What does the translator see?</h2>
          <pre><code style="font-size: 1.7em; line-height: 55px; margin-top: 2em;">{numMessages, plural,
      =0 { You have no new messages }
      =1 { You have one new message }
   other { You have # new messages }
}</code></pre>
          <aside class="notes">
            <ul>
            <li>Nearly the same thing but with single curlies and simplified expressions.</code></li>
            <li>It's the ICU MessageFormat standard syntax.</code></li>
            <li>Translators understand it.</code></li>
            <li>Their console automatically provides them the categories to fill in for their target language</code></li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Declarative Gender</h2>
          <pre><code style="font-size: 1.7em; line-height: 55px;">{{friendGender, select,
       male { Invite him }
     female { Invite her }
      other { Invite them }
}}</code></pre>
          <p style="margin-top: 1em;">Similar to plurals.  You can nest them or combine them in other ways.</p>
        </section>

        <section data-background="img/shipit.png">
        </section>
        <section data-background="img/broken-ui.png">
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-5.svg">
        </section>

        <section>
          <img style="background: none; margin: 0; border: none; box-shadow: none;" src="img/i18n-process-6.svg">
          <aside class="notes">
            <ul>
              <li>The process of translating is a slow one</li>
              <li>We need to get feedback faster</li>
            </ul>
          </aside>
        </section>

        <section>
          <h2>Pseudotranslation to the rescue!</h2>
          <p style="margin-top: 1.5em;">Pseudotranslation provides <strong>INSTANT</strong> translation into gibberish.</p>
          <ul style="margin-top: 0em; width: 85%;">
            <li class="fragment">Sentences size doubled by repeating words</li>
            <li class="fragment">Characters munged in some way such as being accented</li>
            <li class="fragment">Brackets on either end to easily see text that's cut off</li>
          </ul>
        </section>

        <section>
          <h2>Example</h2>
          <div class="fragment">
          <p style="text-align: left; font-weight: bold; margin-top: 1em;">Message:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 2em;">Enter your name</code></pre>
        </div>

          <div class="fragment">
          <p style="margin-top: 2em; font-weight: bold; text-align: left;">Pseudotranslated Message:</p>
          <pre style="margin-top: 1em!important;"><code style="font-size: 2em;">[Enter Ën̈ẗër̈ your ÿöür̈ name n̈äm̈ë]</code></pre>
        </div>
          <aside class="notes">
            <ul>
              <li>Catch text that's cut off</li>
              <li>Catch issues with spacing</li>
              <li>Catch messages that came from Javascript or were others not extracted</li>
              <li>Make it part of your workflow (pseudotranslate on save.)</li>
            </ul>
          </aside>
        </section>

        <section>
          <h1>Recap</h1>

          <aside class="notes">
            <ul>
              <li>There's so much more to talk about!</li>
            </ul>
          </aside>
        </section>

        <section data-background="img/when-can-I-start.gif">
          <h1 style="font-size: 2.4em; color: #000; background: rgba(255, 255, 255, 0.5); margin-left: -0.5em; width: 500px;">Alright, when I can start?</h1>
        </section>

        <section>
          <h2>Status</h2>
          <ul style="width: 80%; margin-top: 1em;">
            <li class="fragment">Angular 1.4 is shipping with declarative support of plurals and gender. (MessageFormat)</li>

            <li class="fragment">Command line extraction tools are moving from prototype to production code (no timeline)</li>
            <li class="fragment">Angular 2 support begins <strong>next month</strong></li>
          </ul>
        </section>
        <section>
          <h1 style="text-transform: none; font-size: 2.7em;">Thanks!</h1>
          <div style="margin-top: 1em;">
            <img style="border: 4px solid #D84437; box-shadow: none; margin: 0; margin-right: 0.6em; border-radius: 50%; width: 150px;" src="img/chirayu.jpg">
            <img style="border: 4px solid #0f9d58; box-shadow: none; margin: 0; margin-left: 0.6em; border-radius: 50%; width: 150px;" src="img/pascal.jpg">
          </div>
          <h3 style="margin-top: 1em;"><a href="http://pascalprecht.github.io/slides/better-i18n-for-your-angular-apps">pascalprecht.github.io/slides/better-i18n-for-your-angular-apps</a></h3>
        </section>
      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'none', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true },
          { src: 'plugin/notes/notes.js', async: true }
        ]
      });

    </script>

  </body>
</html>
